:host {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  margin: auto;

  .result {
    flex: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
  }

  .noResults {
    text-align: center;
    color: #ff7878;
    font-weight: bold;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
  }
}
